{% extends "layout.html" %}
{%  block body %}
<div class="content">
		<div class="section">
			<div class="container">
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Новинки</h3>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="static/img/product01.png" alt="">
												<div class="product-label">
													<span class="new">-30%</span>
													<span class="new">Новое</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Приставки</p>
												<h3 class="product-name"><a href="#">playstation 4 pro</a></h3>
												<h4 class="product-price">27000 руб<del class="product-old-price"></del></h4>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>В корзину</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="static/img/product02.png" alt="">
												<div class="product-label">
													<span class="new">Новое</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Аксессуары</p>
												<h3 class="product-name"><a href="#">Dualshock 4</a></h3>
												<h4 class="product-price">3000 руб<del class="product-old-price"></del></h4>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>В корзину</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="static/img/product03.png" alt="">
												<div class="product-label">
													<span class="new">-30%</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Игры</p>
												<h3 class="product-name"><a href="#">fifa 18</a></h3>
												<h4 class="product-price">2900 руб<del class="product-old-price"></del></h4>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>В корзину</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="static/img/product04.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Аксессуары</p>
												<h3 class="product-name"><a href="#">controller xbox one elite</a></h3>
												<h4 class="product-price">3500 руб<del class="product-old-price"></del></h4>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>В корзину</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="static/img/product05.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Аксессуары</p>
												<h3 class="product-name"><a href="#">xbox 360</a></h3>
												<h4 class="product-price">2300 руб<del class="product-old-price"></del></h4>
                                            </div>
                                            <div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>В корзину</button>
											</div>
											</div>
										</div>
										<!-- /product -->
									</div>
								</div>
								<!-- /tab -->
							</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

        		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Лидеры продаж</h3>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab2" class="tab-pane fade in active">
									<div class="products-slick" data-nav="#slick-nav-2">
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="static/img/product06.png" alt="">
												<div class="product-label">
													<span class="new">-30%</span>
													<span class="new">Новое</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Приставки</p>
												<h3 class="product-name"><a href="#">xbox 360 fat</a></h3>
												<h4 class="product-price">5000 руб<del class="product-old-price"></del></h4>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">В избранное</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Сравнить</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>В корзину</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="static/img/product07.png" alt="">
												<div class="product-label">
													<span class="new">Новое</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Игры</p>
												<h3 class="product-name"><a href="#">gta 5</a></h3>
												<h4 class="product-price">2800 руб<del class="product-old-price"></del></h4>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>В корзину</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="static/img/product08.png" alt="">
												<div class="product-label">
													<span class="new">-30%</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Приставки</p>
												<h3 class="product-name"><a href="#">xbox one x</a></h3>
												<h4 class="product-price">32990 руб<del class="product-old-price"></del></h4>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">В избранное</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Сравнить</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>В корзину</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="static/img/product09.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Аксессуары</p>
												<h3 class="product-name"><a href="#">controller xbox 360</a></h3>
												<h4 class="product-price">2300 руб<del class="product-old-price"></del></h4>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">В избранное</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Сравнить</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>В корзину</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="static/img/product01.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Приставки</p>
												<h3 class="product-name"><a href="#">PlayStation 4 PRO</a></h3>
												<h4 class="product-price">27000 руб<del class="product-old-price"></del></h4>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">В избранное</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Сравнить</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>В корзину</button>
											</div>
										</div>
										<!-- /product -->
									</div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- /Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
</div>
{% endblock %}